<mat-card class="user">
  <div class="user-image">
    <img [src]="(user$ | async)?.image">
  </div>
  <h1 class="user-name">
    {{ (user$ | async)?.name }}
  </h1>
  <a class="user-email" [href]="'mailto:' + (user$ | async)?.email">
    {{ (user$ | async)?.email }}
  </a>
  <p class="user-auth">
    Session start: {{ (user$ | async)?.authData?.first_issued_at | date : 'medium' }}
    <br>
    Session end: {{ (user$ | async)?.authData?.expires_at | date : 'medium' }}
  </p>
  <button mat-raised-button (click)="signOut()">
    <mat-icon>logout-variant</mat-icon>
    <span>Logout</span>
  </button>
</mat-card>
